<div class="easy-genre-page-wrapper">
  <div class="new-easy-genre-container">
    <div class="easy-selection-container">
      <%= form_with model: @scrapelist, url: scrapelistprompts_easy_path, html: { id: 'easy-genre-selection-form', class: 'easy-genre-menu' }, data: { controller: 'easy-genre-menu' } do |f| %>
        <div class="easy-genre-menu-group easy-genre-menu-group-one">
          <%= f.radio_button :genre, 'all', checked: true %>
          <%= f.label :genre, 'ALL', value: 'all' %>
          <%= f.radio_button :genre, 'acoustic' %>
          <%= f.label :genre, 'ACOUSTIC', value: 'acoustic' %>
          <%= f.radio_button :genre, 'alternative' %>
          <%= f.label :genre, 'ALTERNATIVE', value: 'alternative' %>
          <%= f.radio_button :genre, 'ambient' %>
          <%= f.label :genre, 'AMBIENT', value: 'ambient' %>
          <%= f.radio_button :genre, 'blues' %>
          <%= f.label :genre, 'BLUES', value: 'blues' %>
          <%= f.radio_button :genre, 'classical' %>
          <%= f.label :genre, 'CLASSICAL', value: 'classical' %>
          <%= f.radio_button :genre, 'country' %>
          <%= f.label :genre, 'COUNTRY', value: 'country' %>
          <%= f.radio_button :genre, 'devotional' %>
          <%= f.label :genre, 'DEVOTIONAL', value: 'devotional' %>
        </div>
        <div id="inactive-list-group" class="easy-genre-menu-group easy-genre-menu-group-two">
          <%= f.radio_button :genre, 'electronic' %>
          <%= f.label :genre, 'ELECTRONIC', value: 'electronic' %>
          <%= f.radio_button :genre, 'experimental' %>
          <%= f.label :genre, 'EXPERIMENTAL', value: 'experimental' %>
          <%= f.radio_button :genre, 'folk' %>
          <%= f.label :genre, 'FOLK', value: 'folk' %>
          <%= f.radio_button :genre, 'funk' %>
          <%= f.label :genre, 'FUNK', value: 'funk' %>
          <%= f.radio_button :genre, 'hip-hop-rap' %>
          <%= f.label :genre, 'HIP-HOP/RAP', value: 'hip-hop-rap' %>
          <%= f.radio_button :genre, 'jazz' %>
          <%= f.label :genre, 'JAZZ', value: 'jazz' %>
          <%= f.radio_button :genre, 'latin' %>
          <%= f.label :genre, 'LATIN', value: 'latin' %>
          <%= f.radio_button :genre, 'metal' %>
          <%= f.label :genre, 'METAL', value: 'metal' %>
        </div>
        <div id="inactive-list-group" class="easy-genre-menu-group easy-genre-menu-group-three">
          <%= f.radio_button :genre, 'pop' %>
          <%= f.label :genre, 'POP', value: 'pop' %>
          <%= f.radio_button :genre, 'punk' %>
          <%= f.label :genre, 'PUNK', value: 'punk' %>
          <%= f.radio_button :genre, 'r-b-soul' %>
          <%= f.label :genre, 'R&B/SOUL', value: 'r-b-soul' %>
          <%= f.radio_button :genre, 'reggae' %>
          <%= f.label :genre, 'REGGAE', value: 'reggae' %>
          <%= f.radio_button :genre, 'rock' %>
          <%= f.label :genre, 'ROCK', value: 'rock' %>
          <%= f.radio_button :genre, 'soundtrack' %>
          <%= f.label :genre, 'SOUNDTRACK', value: 'soundtrack' %>
          <%= f.radio_button :genre, 'world' %>
          <%= f.label :genre, 'WORLD', value: 'world' %>
          <input type='radio' value='' name='scrapelistprompt[genre]' id='scrapelistprompt_genre_surprise'>
          <label for='scrapelistprompt_genre_surprise' data-action="click->easy-genre-menu#selectSurprise">SURPRISE ME</label>
        </div>
        <div class="easy-genre-menu-controls">
          <div class="up-down-controls">
            <div id="inactive-button" class="up-easy-menu-action" data-action="click->easy-genre-menu#scrollUp"><p class="arrow">&#x2191;</p></div>
            <div class="menu-controls-instructions"><p>Click for more genres...</p></div>
            <div class="down-easy-menu-action" data-action="click->easy-genre-menu#scrollDown"><p class="arrow">&#x2193;</p></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="easy-dialogue">
      <div class="easy-dialogue-contents">
        <p class="easy-instructions-one">Pick a genre! Based on your selection, popular Bandcamp releases from around the world will be scraped and put into a new playlist on your Spotify account. </p>
        <p class="easy-instructions-two">* Only songs that are available on Spotify will be added. *</p>
        <p class="easy-instructions-three">You will be able to see a list of all the songs scraped, and can click to visit the artists on Bandcamp if you so choose!</p>
        <div class="easy-form-submission">
          <input type="submit" name="commit" value="Create your new Scrapelist" data-disable-with="submit" form="easy-genre-selection-form">
        </div>
      </div>
    </div>
  </div>
</div>
