<%= form_with model: @scrapelist, html: { id: 'picky-options-selection-form' } do |f| %>
  <div class="picky-genre-page-wrapper" data-controller="picky-genre-menu">
    <div class="new-picky-genre-container form-window" data-picky-genre-menu-target="windowone">
      <div class="picky-selection-container">
        <div class="picky-genre-menu">
          <div class="picky-genre-menu-group picky-genre-menu-group-one">
            <%= f.radio_button :genre, 'all', checked: true %>
            <%= f.label :genre, 'ALL', value: 'all' %>
            <%= f.radio_button :genre, 'acoustic' %>
            <%= f.label :genre, 'ACOUSTIC', value: 'acoustic' %>
            <%= f.radio_button :genre, 'alternative' %>
            <%= f.label :genre, 'ALTERNATIVE', value: 'alternative' %>
            <%= f.radio_button :genre, 'ambient' %>
            <%= f.label :genre, 'AMBIENT', value: 'ambient' %>
            <%= f.radio_button :genre, 'blues' %>
            <%= f.label :genre, 'BLUES', value: 'blues' %>
            <%= f.radio_button :genre, 'classical' %>
            <%= f.label :genre, 'CLASSICAL', value: 'classical' %>
            <%= f.radio_button :genre, 'country' %>
            <%= f.label :genre, 'COUNTRY', value: 'country' %>
            <%= f.radio_button :genre, 'devotional' %>
            <%= f.label :genre, 'DEVOTIONAL', value: 'devotional' %>
          </div>
          <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-two">
            <%= f.radio_button :genre, 'electronic' %>
            <%= f.label :genre, 'ELECTRONIC', value: 'electronic' %>
            <%= f.radio_button :genre, 'experimental' %>
            <%= f.label :genre, 'EXPERIMENTAL', value: 'experimental' %>
            <%= f.radio_button :genre, 'folk' %>
            <%= f.label :genre, 'FOLK', value: 'folk' %>
            <%= f.radio_button :genre, 'funk' %>
            <%= f.label :genre, 'FUNK', value: 'funk' %>
            <%= f.radio_button :genre, 'hip-hop-rap' %>
            <%= f.label :genre, 'HIP-HOP/RAP', value: 'hip-hop-rap' %>
            <%= f.radio_button :genre, 'jazz' %>
            <%= f.label :genre, 'JAZZ', value: 'jazz' %>
            <%= f.radio_button :genre, 'latin' %>
            <%= f.label :genre, 'LATIN', value: 'latin' %>
            <%= f.radio_button :genre, 'metal' %>
            <%= f.label :genre, 'METAL', value: 'metal' %>
          </div>
          <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-three">
            <%= f.radio_button :genre, 'pop' %>
            <%= f.label :genre, 'POP', value: 'pop' %>
            <%= f.radio_button :genre, 'punk' %>
            <%= f.label :genre, 'PUNK', value: 'punk' %>
            <%= f.radio_button :genre, 'r-b-soul' %>
            <%= f.label :genre, 'R&B/SOUL', value: 'r-b-soul' %>
            <%= f.radio_button :genre, 'reggae' %>
            <%= f.label :genre, 'REGGAE', value: 'reggae' %>
            <%= f.radio_button :genre, 'rock' %>
            <%= f.label :genre, 'ROCK', value: 'rock' %>
            <%= f.radio_button :genre, 'soundtrack' %>
            <%= f.label :genre, 'SOUNDTRACK', value: 'soundtrack' %>
            <%= f.radio_button :genre, 'world' %>
            <%= f.label :genre, 'WORLD', value: 'world' %>
            <input type='radio' value='' name='scrapelistprompt[genre]' id='scrapelistprompt_genre_surprise'>
            <label for='scrapelistprompt_genre_surprise' data-action="click->picky-genre-menu#selectSurprise">SURPRISE ME</label>
          </div>
          <div class="picky-genre-menu-controls">
            <div class="up-down-controls">
              <div id="inactive-button" class="up-picky-menu-action" data-action="click->picky-genre-menu#scrollUp"><p class="arrow">&#x2191;</p></div>
              <div class="menu-controls-instructions"><p>Click for more genres...</p></div>
              <div class="down-picky-menu-action" data-action="click->picky-genre-menu#scrollDown"><p class="arrow">&#x2193;</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="picky-dialogue">
        <div class="picky-dialogue-contents">
          <p class="picky-instructions-one">First, pick a genre. Keep in mind that next you will have the option to pick a subgenre</p>
          <p class="picky-instructions-two">* Only songs that are available on Spotify will be added. *</p>
          <p class="picky-instructions-three">You will be able to see a list of all the songs scraped, and can investigate the songs that weren`t available on Spotify if you so choose!</p>
          <div class="picky-form-next-step">
            <%# <input type="submit" name="commit" value="Create your new Scrapelist" data-disable-with="submit" form="picky-genre-selection-form"> %>
            <button class="picky-next-btn" id="next-btn" data-action="
            click->picky-genre-menu#nextWindow
            click->picky-genre-menu#genreThenShowSubgenres" data-picky-genre-menu-target="nextbtn">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="display-none" class="picky-selectors-container form-window" data-picky-genre-menu-target="windowtwo">
      <div class="subgenre-container">
        <h1>Subgenre? <em>(if you do not wish to be so specific, pick all)</em></h1>
        <div class="subgenre-buttons-container">
          <div id="display-none" class="acoustic-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk' %>
            <%= f.label :subgenre, 'Folk', value: 'folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'singer-songwriter' %>
            <%= f.label :subgenre, 'Singer-songwriter', value: 'singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock' %>
            <%= f.label :subgenre, 'Rock', value: 'rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop' %>
            <%= f.label :subgenre, 'Pop', value: 'pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'guitar' %>
            <%= f.label :subgenre, 'Guitar', value: 'guitar', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'americana' %>
            <%= f.label :subgenre, 'Americana', value: 'americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electro-acoustic' %>
            <%= f.label :subgenre, 'Electro-acoustic', value: 'electro-acoustic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'instrumental' %>
            <%= f.label :subgenre, 'Instrumental', value: 'instrumental', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'piano' %>
            <%= f.label :subgenre, 'Piano', value: 'piano', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bluegrass' %>
            <%= f.label :subgenre, 'Bluegrass', value: 'bluegrass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'roots' %>
            <%= f.label :subgenre, 'Roots', value: 'roots', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="alternative-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'indie-rock' %>
            <%= f.label :subgenre, 'Indie-rock', value: 'indie-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'industrial' %>
            <%= f.label :subgenre, 'Industrial', value: 'industrial', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'shoegaze' %>
            <%= f.label :subgenre, 'shoegaze', value: 'shoegaze', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'grunge' %>
            <%= f.label :subgenre, 'grunge', value: 'grunge', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'goth' %>
            <%= f.label :subgenre, 'goth', value: 'goth', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dream-pop' %>
            <%= f.label :subgenre, 'dream-pop', value: 'dream-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'emo' %>
            <%= f.label :subgenre, 'Emo', value: 'emo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'math-rock' %>
            <%= f.label :subgenre, 'math-rock', value: 'math-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'britpop' %>
            <%= f.label :subgenre, 'britpop', value: 'britpop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jangle-pop' %>
            <%= f.label :subgenre, 'jangle-pop', value: 'jangle-pop', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="ambient-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'chill-out' %>
            <%= f.label :subgenre, 'chill-out', value: 'chill-out', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'drone' %>
            <%= f.label :subgenre, 'drone', value: 'drone', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dark-ambient' %>
            <%= f.label :subgenre, 'dark-ambient', value: 'dark-ambient', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic' %>
            <%= f.label :subgenre, 'electronic', value: 'electronic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'soundscapes' %>
            <%= f.label :subgenre, 'soundscapes', value: 'soundscapes', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'field-recordings' %>
            <%= f.label :subgenre, 'Field recordings', value: 'field-recordings', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'atmospheric' %>
            <%= f.label :subgenre, 'atmospheric', value: 'atmospheric', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'meditation' %>
            <%= f.label :subgenre, 'meditation', value: 'meditation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'noise' %>
            <%= f.label :subgenre, 'noise', value: 'noise', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'new-age' %>
            <%= f.label :subgenre, 'new-age', value: 'new-age', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'idm' %>
            <%= f.label :subgenre, 'Intelligent Dance Music', value: 'idm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'industrial' %>
            <%= f.label :subgenre, 'industrial', value: 'industrial', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="blues-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rhythm-blues' %>
            <%= f.label :subgenre, 'rhythm & blues ', value: 'rhythm-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues-rock' %>
            <%= f.label :subgenre, 'blues-rock', value: 'blues-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country-blues' %>
            <%= f.label :subgenre, 'country-blues', value: 'country-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'boogie-woogie' %>
            <%= f.label :subgenre, 'boogie-woogie', value: 'boogie-woogie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'delta-blues' %>
            <%= f.label :subgenre, 'delta-blues', value: 'delta-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'americana' %>
            <%= f.label :subgenre, 'Americana', value: 'americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electric-blues' %>
            <%= f.label :subgenre, 'electric-blues', value: 'electric-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'gospel' %>
            <%= f.label :subgenre, 'gospel', value: 'gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bluegrass' %>
            <%= f.label :subgenre, 'bluegrass', value: 'bluegrass', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="classical-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'orchestral' %>
            <%= f.label :subgenre, 'Orchestral', value: 'orchestral', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'neo-classical' %>
            <%= f.label :subgenre, 'neo-classical', value: 'neo-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'chamber-music' %>
            <%= f.label :subgenre, 'chamber-music', value: 'chamber-music', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical-piano' %>
            <%= f.label :subgenre, 'classical-piano', value: 'classical-piano', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'contemporary-classical' %>
            <%= f.label :subgenre, 'contemporary-classical', value: 'contemporary-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'baroque' %>
            <%= f.label :subgenre, 'baroque', value: 'baroque', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'opera' %>
            <%= f.label :subgenre, 'opera', value: 'opera', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'choral' %>
            <%= f.label :subgenre, 'choral', value: 'choral', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'modern-classical' %>
            <%= f.label :subgenre, 'modern-classical', value: 'modern-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'avant-garde' %>
            <%= f.label :subgenre, 'avant-garde', value: 'avant-garde', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="country-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bluegrass' %>
            <%= f.label :subgenre, 'bluegrass', value: 'bluegrass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country-rock' %>
            <%= f.label :subgenre, 'country-rock', value: 'country-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'americana' %>
            <%= f.label :subgenre, 'americana', value: 'americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country-folk' %>
            <%= f.label :subgenre, 'country-folk', value: 'country-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alt-country' %>
            <%= f.label :subgenre, 'alt-country', value: 'alt-country', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country-blues' %>
            <%= f.label :subgenre, 'country-blues', value: 'country-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'western' %>
            <%= f.label :subgenre, 'western', value: 'western', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'singer-songwriter' %>
            <%= f.label :subgenre, 'singer-songwriter', value: 'singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'outlaw' %>
            <%= f.label :subgenre, 'outlaw', value: 'outlaw', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'honky-tonk' %>
            <%= f.label :subgenre, 'honky-tonk', value: 'honky-tonk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'roots' %>
            <%= f.label :subgenre, 'roots', value: 'roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hillbilly' %>
            <%= f.label :subgenre, 'hillbilly', value: 'hillbilly', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="devotional-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'christian' %>
            <%= f.label :subgenre, 'Christian', value: 'christian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'gospel' %>
            <%= f.label :subgenre, 'Gospel', value: 'gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'meditation' %>
            <%= f.label :subgenre, 'Meditation', value: 'meditation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'spiritual' %>
            <%= f.label :subgenre, 'Spiritual', value: 'spiritual', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'worship' %>
            <%= f.label :subgenre, 'Worship', value: 'worship', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'inspirational' %>
            <%= f.label :subgenre, 'Inspirational', value: 'inspirational', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="electronic-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'house' %>
            <%= f.label :subgenre, 'house', value: 'house', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronica' %>
            <%= f.label :subgenre, 'electronica', value: 'electronica', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'downtempo' %>
            <%#= f.label :subgenre, 'downtempo', value: 'downtempo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'techno' %>
            <%= f.label :subgenre, 'techno', value: 'techno', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electro' %>
            <%= f.label :subgenre, 'electro', value: 'electro', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dubstep' %>
            <%= f.label :subgenre, 'dubstep', value: 'dubstep', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'beats' %>
            <%= f.label :subgenre, 'beats', value: 'beats', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dance' %>
            <%= f.label :subgenre, 'dance', value: 'dance', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'idm' %>
            <%#= f.label :subgenre, 'Intelligent Dance Music', value: 'idm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'drum-bass' %>
            <%= f.label :subgenre, 'drum & bass', value: 'drum-bass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'breaks' %>
            <%= f.label :subgenre, 'breaks', value: 'breaks', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'trance' %>
            <%= f.label :subgenre, 'trance', value: 'trance', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'glitch' %>
            <%#= f.label :subgenre, 'Glitch', value: 'glitch', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'chiptune' %>
            <%#= f.label :subgenre, 'Chiptune', value: 'chiptune', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'chillwave' %>
            <%= f.label :subgenre, 'chillwave', value: 'chillwave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dub' %>
            <%= f.label :subgenre, 'dub', value: 'dub', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'edm' %>
            <%= f.label :subgenre, 'edm', value: 'edm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'instrumental' %>
            <%= f.label :subgenre, 'instrumental', value: 'instrumental', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'witch-house' %>
            <%#= f.label :subgenre, 'witch-house', value: 'witch-house', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'garage' %>
            <%= f.label :subgenre, 'garage', value: 'garage', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'juke' %>
            <%#= f.label :subgenre, 'juke', value: 'juke', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'footwork' %>
            <%#= f.label :subgenre, 'footwork', value: 'footwork', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'vaporwave' %>
            <%= f.label :subgenre, 'vaporwave', value: 'vaporwave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'synthwave' %>
            <%= f.label :subgenre, 'synthwave', value: 'synthwave', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="experimental-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'noise' %>
            <%= f.label :subgenre, 'noise', value: 'noise', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'drone' %>
            <%= f.label :subgenre, 'drone', value: 'drone', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'avant-garde' %>
            <%= f.label :subgenre, 'avant-garde', value: 'avant-garde', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental-rock' %>
            <%= f.label :subgenre, 'experimental-rock', value: 'experimental-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'improvisation' %>
            <%= f.label :subgenre, 'improvisation', value: 'improvisation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'sound-art' %>
            <%= f.label :subgenre, 'sound-art', value: 'sound-art', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'musique-concrete' %>
            <%= f.label :subgenre, 'musique-concrete', value: 'musique-concrete', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="folk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'singer-songwriter' %>
            <%= f.label :subgenre, 'singer-songwriter', value: 'singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk-rock' %>
            <%= f.label :subgenre, 'folk-rock', value: 'folk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'indie-folk' %>
            <%= f.label :subgenre, 'indie-folk', value: 'indie-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop-folk' %>
            <%= f.label :subgenre, 'pop-folk', value: 'pop-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'traditional' %>
            <%= f.label :subgenre, 'traditional', value: 'traditional', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental-folk' %>
            <%= f.label :subgenre, 'experimental-folk', value: 'experimental-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'roots' %>
            <%= f.label :subgenre, 'roots', value: 'roots', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="funk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk-jam' %>
            <%= f.label :subgenre, 'funk-jam', value: 'funk-jam', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'deep-funk' %>
            <%= f.label :subgenre, 'deep-funk', value: 'deep-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk-rock' %>
            <%= f.label :subgenre, 'funk-rock', value: 'funk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz-funk' %>
            <%= f.label :subgenre, 'jazz-funk', value: 'jazz-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'boogie' %>
            <%= f.label :subgenre, 'boogie', value: 'boogie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'g-funk' %>
            <%= f.label :subgenre, 'g-funk', value: 'g-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rare-groove' %>
            <%= f.label :subgenre, 'rare-groove', value: 'rare-groove', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electro' %>
            <%= f.label :subgenre, 'electro', value: 'electro', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'go-go' %>
            <%= f.label :subgenre, 'go-go', value: 'go-go', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="hip-hop-rap-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rap' %>
            <%= f.label :subgenre, 'rap', value: 'rap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'underground-hip-hop' %>
            <%= f.label :subgenre, 'underground-hip-hop', value: 'underground-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'instrumental-hip-hop' %>
            <%= f.label :subgenre, 'instrumental-hip-hop', value: 'instrumental-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'trap' %>
            <%= f.label :subgenre, 'trap', value: 'trap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'conscious-hip-hop' %>
            <%= f.label :subgenre, 'conscious-hip-hop', value: 'conscious-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'boom-bap' %>
            <%= f.label :subgenre, 'boom-bap', value: 'boom-bap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'beat-tape' %>
            <%= f.label :subgenre, 'beat-tape', value: 'beat-tape', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hardcore' %>
            <%= f.label :subgenre, 'hardcore', value: 'hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'grime' %>
            <%= f.label :subgenre, 'grime', value: 'grime', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="jazz-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'fusion' %>
            <%= f.label :subgenre, 'fusion', value: 'fusion', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'big-band' %>
            <%= f.label :subgenre, 'big-band', value: 'big-band', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'nu-jazz' %>
            <%= f.label :subgenre, 'nu-jazz', value: 'nu-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'modern-jazz' %>
            <%= f.label :subgenre, 'modern-jazz', value: 'modern-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'swing' %>
            <%= f.label :subgenre, 'swing', value: 'swing', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'free-jazz' %>
            <%= f.label :subgenre, 'free-jazz', value: 'free-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'soul-jazz' %>
            <%= f.label :subgenre, 'soul-jazz', value: 'soul-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin-jazz' %>
            <%= f.label :subgenre, 'latin-jazz', value: 'latin-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'vocal-jazz' %>
            <%= f.label :subgenre, 'vocal-jazz', value: 'vocal-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bebop' %>
            <%= f.label :subgenre, 'bebop', value: 'bebop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'spiritual-jazz' %>
            <%= f.label :subgenre, 'spiritual-jazz', value: 'spiritual-jazz', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="latin-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'brazilian' %>
            <%= f.label :subgenre, 'brazilian', value: 'brazilian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'cumbia' %>
            <%= f.label :subgenre, 'cumbia', value: 'cumbia', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'tango' %>
            <%= f.label :subgenre, 'tango', value: 'tango', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin-rock' %>
            <%= f.label :subgenre, 'latin-rock', value: 'latin-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'flamenco' %>
            <%= f.label :subgenre, 'flamenco', value: 'flamenco', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'salsa' %>
            <%= f.label :subgenre, 'salsa', value: 'salsa', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggaeton' %>
            <%= f.label :subgenre, 'reggaeton', value: 'reggaeton', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'merengue' %>
            <%= f.label :subgenre, 'merengue', value: 'merengue', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bolero' %>
            <%= f.label :subgenre, 'bolero', value: 'bolero', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'mexico-d.f.' %>
            <%= f.label :subgenre, 'mexico-d.f.', value: 'mexico-d.f.', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'bachata' %>
            <%= f.label :subgenre, 'bachata', value: 'bachata', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="metal-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hardcore' %>
            <%= f.label :subgenre, 'hardcore', value: 'hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'black-metal' %>
            <%= f.label :subgenre, 'black-metal', value: 'black-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'death-metal' %>
            <%= f.label :subgenre, 'death-metal', value: 'death-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'thrash-metal' %>
            <%= f.label :subgenre, 'thrash-metal', value: 'thrash-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'grindcore' %>
            <%= f.label :subgenre, 'grindcore', value: 'grindcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'doom' %>
            <%= f.label :subgenre, 'doom', value: 'doom', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'post-hardcore' %>
            <%= f.label :subgenre, 'post-hardcore', value: 'post-hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'progressive-metal' %>
            <%= f.label :subgenre, 'progressive-metal', value: 'progressive-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metalcore' %>
            <%= f.label :subgenre, 'metalcore', value: 'metalcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'sludge-metal' %>
            <%= f.label :subgenre, 'sludge-metal', value: 'sludge-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'heavy-metal' %>
            <%= f.label :subgenre, 'heavy-metal', value: 'heavy-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'deathcore' %>
            <%= f.label :subgenre, 'deathcore', value: 'deathcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'noise' %>
            <%= f.label :subgenre, 'noise', value: 'noise', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="pop-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'indie-pop' %>
            <%= f.label :subgenre, 'indie-pop', value: 'indie-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'synth-pop' %>
            <%= f.label :subgenre, 'synth-pop', value: 'synth-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'power-pop' %>
            <%= f.label :subgenre, 'power-pop', value: 'power-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'new-wave' %>
            <%= f.label :subgenre, 'new-wave', value: 'new-wave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dream-pop' %>
            <%= f.label :subgenre, 'dream-pop', value: 'dream-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'noise-pop' %>
            <%= f.label :subgenre, 'noise-pop', value: 'noise-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental-pop' %>
            <%= f.label :subgenre, 'experimental-pop', value: 'experimental-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electro-pop' %>
            <%= f.label :subgenre, 'electro-pop', value: 'electro-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'adult-contemporary' %>
            <%= f.label :subgenre, 'adult-contemporary', value: 'adult-contemporary', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jangle-pop' %>
            <%= f.label :subgenre, 'jangle-pop', value: 'jangle-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'j-pop' %>
            <%= f.label :subgenre, 'j-pop', value: 'j-pop', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="punk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hardcore-punk' %>
            <%= f.label :subgenre, 'hardcore-punk', value: 'hardcore-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'garage' %>
            <%= f.label :subgenre, 'garage', value: 'garage', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop-punk' %>
            <%= f.label :subgenre, 'pop-punk', value: 'pop-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk-rock' %>
            <%= f.label :subgenre, 'punk-rock', value: 'punk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'post-punk' %>
            <%= f.label :subgenre, 'post-punk', value: 'post-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'post-hardcore' %>
            <%= f.label :subgenre, 'post-hardcore', value: 'post-hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'thrash' %>
            <%= f.label :subgenre, 'thrash', value: 'thrash', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'crust-punk' %>
            <%= f.label :subgenre, 'crust-punk', value: 'crust-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk-punk' %>
            <%= f.label :subgenre, 'folk-punk', value: 'folk-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'emo' %>
            <%= f.label :subgenre, 'emo', value: 'emo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ska' %>
            <%= f.label :subgenre, 'ska', value: 'ska', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'no-wave' %>
            <%= f.label :subgenre, 'no-wave', value: 'no-wave', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="r-b-soul-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'soul' %>
            <%= f.label :subgenre, 'soul', value: 'soul', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b' %>
            <%= f.label :subgenre, 'r&b', value: 'r-b', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'neo-soul' %>
            <%= f.label :subgenre, 'neo-soul', value: 'neo-soul', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'gospel' %>
            <%= f.label :subgenre, 'gospel', value: 'gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'contemporary-r-b' %>
            <%= f.label :subgenre, 'contemporary r&b', value: 'contemporary-r-b', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'motown' %>
            <%= f.label :subgenre, 'motown', value: 'motown', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'urban' %>
            <%= f.label :subgenre, 'urban', value: 'urban', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="reggae-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dub' %>
            <%= f.label :subgenre, 'dub', value: 'dub', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ska' %>
            <%= f.label :subgenre, 'ska', value: 'ska', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'roots' %>
            <%= f.label :subgenre, 'roots', value: 'roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'dancehall' %>
            <%= f.label :subgenre, 'dancehall', value: 'dancehall', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rocksteady' %>
            <%= f.label :subgenre, 'rocksteady', value: 'rocksteady', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ragga' %>
            <%= f.label :subgenre, 'ragga', value: 'ragga', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'lovers-rock' %>
            <%= f.label :subgenre, 'lovers-rock', value: 'lovers-rock', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="rock-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'indie' %>
            <%= f.label :subgenre, 'indie', value: 'indie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'prog-rock' %>
            <%= f.label :subgenre, 'prog-rock', value: 'prog-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'post-rock' %>
            <%= f.label :subgenre, 'post-rock', value: 'post-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock-roll' %>
            <%= f.label :subgenre, 'rock-roll', value: 'rock-roll', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'psychedelic-rock' %>
            <%= f.label :subgenre, 'psychedelic-rock', value: 'psychedelic-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hard-rock' %>
            <%= f.label :subgenre, 'hard-rock', value: 'hard-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'garage-rock' %>
            <%= f.label :subgenre, 'garage-rock', value: 'garage-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'surf-rock' %>
            <%= f.label :subgenre, 'surf-rock', value: 'surf-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'instrumental' %>
            <%= f.label :subgenre, 'instrumental', value: 'instrumental', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'math-rock' %>
            <%= f.label :subgenre, 'math-rock', value: 'math-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rockabilly' %>
            <%= f.label :subgenre, 'rockabilly', value: 'rockabilly', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="soundtrack-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'film-music' %>
            <%= f.label :subgenre, 'film music', value: 'film-music', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'video-game-music' %>
            <%= f.label :subgenre, 'video game music', value: 'video-game-music', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="world-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, '' %>
            <%= f.label :subgenre, 'All', value: '', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin' %>
            <%= f.label :subgenre, 'latin', value: 'latin', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'roots' %>
            <%= f.label :subgenre, 'roots', value: 'roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'african' %>
            <%= f.label :subgenre, 'african', value: 'african', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'tropical' %>
            <%= f.label :subgenre, 'tropical', value: 'tropical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'tribal' %>
            <%= f.label :subgenre, 'tribal', value: 'tribal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'brazilian' %>
            <%= f.label :subgenre, 'brazilian', value: 'brazilian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'celtic' %>
            <%= f.label :subgenre, 'celtic', value: 'celtic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world-fusion' %>
            <%= f.label :subgenre, 'world-fusion', value: 'world-fusion', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'cumbia' %>
            <%= f.label :subgenre, 'cumbia', value: 'cumbia', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'gypsy' %>
            <%= f.label :subgenre, 'gypsy', value: 'gypsy', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'new-age' %>
            <%= f.label :subgenre, 'new-age', value: 'new-age', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'balkan' %>
            <%= f.label :subgenre, 'balkan', value: 'balkan', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggaeton' %>
            <%= f.label :subgenre, 'reggaeton', value: 'reggaeton', class: 'subgenre-type-btn' %>
          </div>
        </div>
      </div>
      <div class="release-type-container">
        <h1>What kind of releases would you like to see?</h1>
        <div class="release-type-buttons-container">
            <%= f.radio_button :release_order, 'top', checked: true  %>
            <%= f.label :release_order, 'Best-selling', value: 'top', class: 'release-type-btn' %>
            <%= f.radio_button :release_order, 'new' %>
            <%= f.label :release_order, 'New Arrivals', value: 'new', class: 'release-type-btn' %>
        </div>
      </div>
      <div class="when-container">
        <h1>When? <em>(Pick the time frame you would like)</em></h1>
        <div class="when-buttons-container">
            <%= f.radio_button :time_frame, '-1', checked: true  %>
            <%= f.label :time_frame, 'Today', value: '-1', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '0' %>
            <%= f.label :time_frame, 'This week', value: '0', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '761' %>
            <%= f.label :time_frame, 'Last week', value: '761', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '760' %>
            <%= f.label :time_frame, '2 weeks ago', value: '760', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '759' %>
            <%= f.label :time_frame, '3 weeks ago', value: '759', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '758' %>
            <%= f.label :time_frame, '4 weeks ago', value: '758', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '757' %>
            <%= f.label :time_frame, '5 weeks ago', value: '757', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '756' %>
            <%= f.label :time_frame, '6 weeks ago', value: '756', class: 'when-btn' %>
        </div>
      </div>
      <div class="navigation-buttons-container">
        <div class="back-button-container">
          <button class="picky-nav-btn-windowtwo" id="back-btn-windowtwo" data-action="click->picky-genre-menu#previousWindow" data-picky-genre-menu-target="backbtnwindowtwo">Back</button>
        </div>
        <div class="next-button-container">
          <button class="picky-nav-btn-windowtwo" id="next-btn-windowtwo" data-action="click->picky-genre-menu#nextWindow" data-picky-genre-menu-target="nextbtnwindowtwo">Next</button>
        </div>
      </div>
    </div>
    <div id="display-none" class="location-selector-container form-window" data-picky-genre-menu-target="windowthree">
      <h1>Location <em>(Where shall the artists come from?)</em></h1>
      <div class="location-form-buttons">
          <%= f.radio_button :location, '0', checked: true  %>
          <%= f.label :location, 'ANYWHERE', value: '0', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2759794' %>
          <%= f.label :location, 'AMSTERDAM', value: '2759794', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4180439' %>
          <%= f.label :location, 'ATLANTA', value: '4180439', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4671654' %>
          <%= f.label :location, 'AUSTIN', value: '4671654', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4347778' %>
          <%= f.label :location, 'BALTIMORE', value: '4347778', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2950159' %>
          <%= f.label :location, 'BERLIN', value: '2950159', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4930956' %>
          <%= f.label :location, 'BOSTON', value: '4930956', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5110302' %>
          <%= f.label :location, 'BROOKLYN', value: '5110302', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4887398' %>
          <%= f.label :location, 'CHICAGO', value: '4887398', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5419384' %>
          <%= f.label :location, 'DENVER', value: '5419384', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4990729' %>
          <%= f.label :location, 'DETROIT', value: '4990729', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2964574' %>
          <%= f.label :location, 'DUBLIN', value: '2964574', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3333231' %>
          <%= f.label :location, 'GLASGOW', value: '3333231', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2643743' %>
          <%= f.label :location, 'LONDON', value: '2643743', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5368361' %>
          <%= f.label :location, 'LOS ANGELES', value: '5368361', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3117735' %>
          <%= f.label :location, 'MADRID', value: '3117735', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2643123' %>
          <%= f.label :location, 'MANCHESTER', value: '2643123', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2158177' %>
          <%= f.label :location, 'MELBOURNE', value: '2158177', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3530597' %>
          <%= f.label :location, 'MEXICO CITY', value: '3530597', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4164138' %>
          <%= f.label :location, 'MIAMI', value: '4164138', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5037649' %>
          <%= f.label :location, 'MINNEAPOLIS', value: '5037649', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6077243' %>
          <%= f.label :location, 'MONTREAL', value: '6077243', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4644585' %>
          <%= f.label :location, 'NASHVILLE', value: '4644585', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4335045' %>
          <%= f.label :location, 'NEW ORLEANS', value: '4335045', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5128581' %>
          <%= f.label :location, 'NEW YORK CITY', value: '5128581', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5378538' %>
          <%= f.label :location, 'OAKLAND', value: '5378538', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2988507' %>
          <%= f.label :location, 'PARIS', value: '2988507', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4560349' %>
          <%= f.label :location, 'PHILADELPHIA', value: '4560349', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5746545' %>
          <%= f.label :location, 'PORTLAND', value: '5746545', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5391959' %>
          <%= f.label :location, 'SAN FRANCISCO', value: '5391959', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5809844' %>
          <%= f.label :location, 'SEATTLE', value: '5809844', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2147714' %>
          <%= f.label :location, 'SYDNEY', value: '2147714', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6167865' %>
          <%= f.label :location, 'TORONTO', value: '6167865', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6173331' %>
          <%= f.label :location, 'VANCOUVER', value: '6173331', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4140963' %>
          <%= f.label :location, 'WASHINGTON D.C.', value: '4140963', class: 'location-type-btn' %>
      </div>
      <div class="location-nav-container">
        <div class="back-button-container">
          <button class="location-nav-btn" data-action="click->picky-genre-menu#previousWindow">Back</button>
        </div>
        <div class="create-button-container">
          <%#= link_to "Create your new Scrapelist!", scrapelistprompts_path, class: 'create-btn' %>
          <input type="submit" name="commit" value="Create your new Scrapelist" class="create-btn" data-disable-with="submit" form="picky-options-selection-form">
        </div>
      </div>
    </div>
  </div>
<% end %>
