<div class="picky-genre-page-wrapper" data-controller="picky-genre-menu">
  <div class="new-picky-genre-container form-window" data-picky-genre-menu-target="windowone">
    <div class="picky-selection-container">
      <%= form_with model: @scrapelist, html: { class: 'picky-genre-menu', id: 'picky-genre-selection-form' } do |f| %>
        <div class="picky-genre-menu-group picky-genre-menu-group-one">
          <%= f.radio_button :genre, 'all', checked: true %>
          <%= f.label :genre, 'ALL', value: 'all' %>
          <%= f.radio_button :genre, 'acoustic' %>
          <%= f.label :genre, 'ACOUSTIC', value: 'acoustic' %>
          <%= f.radio_button :genre, 'alternative' %>
          <%= f.label :genre, 'ALTERNATIVE', value: 'alternative' %>
          <%= f.radio_button :genre, 'ambient' %>
          <%= f.label :genre, 'AMBIENT', value: 'ambient' %>
          <%= f.radio_button :genre, 'blues' %>
          <%= f.label :genre, 'BLUES', value: 'blues' %>
          <%= f.radio_button :genre, 'classical' %>
          <%= f.label :genre, 'CLASSICAL', value: 'classical' %>
          <%= f.radio_button :genre, 'country' %>
          <%= f.label :genre, 'COUNTRY', value: 'country' %>
          <%= f.radio_button :genre, 'devotional' %>
          <%= f.label :genre, 'DEVOTIONAL', value: 'devotional' %>
        </div>
        <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-two">
          <%= f.radio_button :genre, 'electronic' %>
          <%= f.label :genre, 'ELECTRONIC', value: 'electronic' %>
          <%= f.radio_button :genre, 'experimental' %>
          <%= f.label :genre, 'EXPERIMENTAL', value: 'experimental' %>
          <%= f.radio_button :genre, 'folk' %>
          <%= f.label :genre, 'FOLK', value: 'folk' %>
          <%= f.radio_button :genre, 'funk' %>
          <%= f.label :genre, 'FUNK', value: 'funk' %>
          <%= f.radio_button :genre, 'hip-hop-rap' %>
          <%= f.label :genre, 'HIP-HOP/RAP', value: 'hip-hop-rap' %>
          <%= f.radio_button :genre, 'jazz' %>
          <%= f.label :genre, 'JAZZ', value: 'jazz' %>
          <%= f.radio_button :genre, 'latin' %>
          <%= f.label :genre, 'LATIN', value: 'latin' %>
          <%= f.radio_button :genre, 'metal' %>
          <%= f.label :genre, 'METAL', value: 'metal' %>
        </div>
        <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-three">
          <%= f.radio_button :genre, 'pop' %>
          <%= f.label :genre, 'POP', value: 'pop' %>
          <%= f.radio_button :genre, 'punk' %>
          <%= f.label :genre, 'PUNK', value: 'punk' %>
          <%= f.radio_button :genre, 'r-b-soul' %>
          <%= f.label :genre, 'R&B/SOUL', value: 'r-b-soul' %>
          <%= f.radio_button :genre, 'reggae' %>
          <%= f.label :genre, 'REGGAE', value: 'reggae' %>
          <%= f.radio_button :genre, 'rock' %>
          <%= f.label :genre, 'ROCK', value: 'rock' %>
          <%= f.radio_button :genre, 'soundtrack' %>
          <%= f.label :genre, 'SOUNDTRACK', value: 'soundtrack' %>
          <%= f.radio_button :genre, 'world' %>
          <%= f.label :genre, 'WORLD', value: 'world' %>
          <input type='radio' value='' name='scrapelistprompt[genre]' id='scrapelistprompt_genre_surprise'>
          <label for='scrapelistprompt_genre_surprise' data-action="click->picky-genre-menu#selectSurprise">SURPRISE ME</label>
        </div>
        <div class="picky-genre-menu-controls">
          <div class="up-down-controls">
            <div id="inactive-button" class="up-picky-menu-action" data-action="click->picky-genre-menu#scrollUp"><p class="arrow">&#x2191;</p></div>
            <div class="menu-controls-instructions"><p>Click for more genres...</p></div>
            <div class="down-picky-menu-action" data-action="click->picky-genre-menu#scrollDown"><p class="arrow">&#x2193;</p></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="picky-dialogue">
      <div class="picky-dialogue-contents">
        <p class="picky-instructions-one">First, pick a genre. Keep in mind that next you will have the option to pick a subgenre</p>
        <p class="picky-instructions-two">* Only songs that are available on Spotify will be added. *</p>
        <p class="picky-instructions-three">You will be able to see a list of all the songs scraped, and can investigate the songs that weren`t available on Spotify if you so choose!</p>
        <div class="picky-form-next-step">
          <%# <input type="submit" name="commit" value="Create your new Scrapelist" data-disable-with="submit" form="picky-genre-selection-form"> %>
          <button class="picky-next-btn" id="next-btn" data-action="click->picky-genre-menu#nextWindow" data-picky-genre-menu-target="nextbtn">Next</button>
        </div>
      </div>
    </div>
  </div>
  <div id="display-none" class="picky-selectors-container form-window" data-picky-genre-menu-target="windowtwo">
    <div class="subgenre-container">
      <h1>Subgenre? <em>(if you do not wish to be so specific, pick all)</em></h1>
      <div class="subgenre-buttons-container">
        <h1>insert subgenre buttons here</h1>
      </div>
    </div>
    <div class="release-type-container">
      <h1>What kind of releases would you like to see?</h1>
      <div class="release-type-buttons-container">
        <%= form_with model: @scrapelist do |f| %>
          <%= f.radio_button :release_order, 'top', checked: true  %>
          <%= f.label :release_order, 'Best-selling', value: 'top', class: 'release-type-btn' %>
          <%= f.radio_button :release_order, 'new' %>
          <%= f.label :release_order, 'New Arrivals', value: 'new', class: 'release-type-btn' %>
        <% end %>
      </div>
    </div>
    <div class="when-container">
      <h1>When? <em>(Pick the time frame you would like)</em></h1>
      <div class="when-buttons-container">
        <%= form_with model: @scrapelist do |f| %>
          <%= f.radio_button :time_frame, '-1', checked: true  %>
          <%= f.label :time_frame, 'Today', value: '-1', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '0' %>
          <%= f.label :time_frame, 'This week', value: '0', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '761' %>
          <%= f.label :time_frame, 'Last week', value: '761', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '760' %>
          <%= f.label :time_frame, '2 weeks ago', value: '760', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '759' %>
          <%= f.label :time_frame, '3 weeks ago', value: '759', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '758' %>
          <%= f.label :time_frame, '4 weeks ago', value: '758', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '757' %>
          <%= f.label :time_frame, '5 weeks ago', value: '757', class: 'when-btn' %>
          <%= f.radio_button :time_frame, '756' %>
          <%= f.label :time_frame, '6 weeks ago', value: '756', class: 'when-btn' %>
        <% end %>
      </div>
    </div>
    <div class="navigation-buttons-container">
      <div class="back-button-container">
        <button class="picky-nav-btn-windowtwo" id="back-btn-windowtwo" data-action="click->picky-genre-menu#backWindow" data-picky-genre-menu-target="backbtnwindowtwo">Back</button>
      </div>
      <div class="next-button-container">
        <button class="picky-nav-btn-windowtwo" id="next-btn-windowtwo" data-action="click->picky-genre-menu#nextWindow" data-picky-genre-menu-target="nextbtnwindowtwo">Next</button>
      </div>
    </div>
  </div>
  <div id="display-none" class="location-selector-container form-window">
  </div>
</div>
