<%= form_with model: @scrapelist, html: { id: 'picky-options-selection-form' } do |f| %>
  <div class="picky-genre-page-wrapper" data-controller="picky-genre-menu">
    <div class="new-picky-genre-container form-window" data-picky-genre-menu-target="windowone">
      <div class="picky-selection-container">
        <div class="picky-genre-menu">
          <div class="picky-genre-menu-group picky-genre-menu-group-one">
            <%= f.radio_button :genre, 'all', checked: true %>
            <%= f.label :genre, 'ALL', value: 'all' %>
            <%= f.radio_button :genre, 'acoustic' %>
            <%= f.label :genre, 'ACOUSTIC', value: 'acoustic' %>
            <%= f.radio_button :genre, 'alternative' %>
            <%= f.label :genre, 'ALTERNATIVE', value: 'alternative' %>
            <%= f.radio_button :genre, 'ambient' %>
            <%= f.label :genre, 'AMBIENT', value: 'ambient' %>
            <%= f.radio_button :genre, 'blues' %>
            <%= f.label :genre, 'BLUES', value: 'blues' %>
            <%= f.radio_button :genre, 'classical' %>
            <%= f.label :genre, 'CLASSICAL', value: 'classical' %>
            <%= f.radio_button :genre, 'country' %>
            <%= f.label :genre, 'COUNTRY', value: 'country' %>
            <%= f.radio_button :genre, 'devotional' %>
            <%= f.label :genre, 'DEVOTIONAL', value: 'devotional' %>
          </div>
          <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-two">
            <%= f.radio_button :genre, 'electronic' %>
            <%= f.label :genre, 'ELECTRONIC', value: 'electronic' %>
            <%= f.radio_button :genre, 'experimental' %>
            <%= f.label :genre, 'EXPERIMENTAL', value: 'experimental' %>
            <%= f.radio_button :genre, 'folk' %>
            <%= f.label :genre, 'FOLK', value: 'folk' %>
            <%= f.radio_button :genre, 'funk' %>
            <%= f.label :genre, 'FUNK', value: 'funk' %>
            <%= f.radio_button :genre, 'hip-hop-rap' %>
            <%= f.label :genre, 'HIP-HOP/RAP', value: 'hip-hop-rap' %>
            <%= f.radio_button :genre, 'jazz' %>
            <%= f.label :genre, 'JAZZ', value: 'jazz' %>
            <%= f.radio_button :genre, 'latin' %>
            <%= f.label :genre, 'LATIN', value: 'latin' %>
            <%= f.radio_button :genre, 'metal' %>
            <%= f.label :genre, 'METAL', value: 'metal' %>
          </div>
          <div id="inactive-list-group" class="picky-genre-menu-group picky-genre-menu-group-three">
            <%= f.radio_button :genre, 'pop' %>
            <%= f.label :genre, 'POP', value: 'pop' %>
            <%= f.radio_button :genre, 'punk' %>
            <%= f.label :genre, 'PUNK', value: 'punk' %>
            <%= f.radio_button :genre, 'r-b-soul' %>
            <%= f.label :genre, 'R&B/SOUL', value: 'r-b-soul' %>
            <%= f.radio_button :genre, 'reggae' %>
            <%= f.label :genre, 'REGGAE', value: 'reggae' %>
            <%= f.radio_button :genre, 'rock' %>
            <%= f.label :genre, 'ROCK', value: 'rock' %>
            <%= f.radio_button :genre, 'soundtrack' %>
            <%= f.label :genre, 'SOUNDTRACK', value: 'soundtrack' %>
            <%= f.radio_button :genre, 'world' %>
            <%= f.label :genre, 'WORLD', value: 'world' %>
            <input type='radio' value='' name='scrapelistprompt[genre]' id='scrapelistprompt_genre_surprise'>
            <label for='scrapelistprompt_genre_surprise' data-action="click->picky-genre-menu#selectSurprise">SURPRISE ME</label>
          </div>
          <div class="picky-genre-menu-controls">
            <div class="up-down-controls">
              <div id="inactive-button" class="up-picky-menu-action" data-action="click->picky-genre-menu#scrollUp"><p class="arrow">&#x2191;</p></div>
              <div class="menu-controls-instructions"><p>Click for more genres...</p></div>
              <div class="down-picky-menu-action" data-action="click->picky-genre-menu#scrollDown"><p class="arrow">&#x2193;</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="picky-dialogue">
        <div class="picky-dialogue-contents">
          <p class="picky-instructions-one">First, pick a genre. Keep in mind that next you will have the option to pick a subgenre</p>
          <p class="picky-instructions-two">* Only songs that are available on Spotify will be added. *</p>
          <p class="picky-instructions-three">You will be able to see a list of all the songs scraped, and can investigate the songs that weren`t available on Spotify if you so choose!</p>
          <div class="picky-form-next-step">
            <%# <input type="submit" name="commit" value="Create your new Scrapelist" data-disable-with="submit" form="picky-genre-selection-form"> %>
            <button class="picky-next-btn" id="next-btn" data-action="
            click->picky-genre-menu#nextWindow
            click->picky-genre-menu#genreThenShowSubgenres" data-picky-genre-menu-target="nextbtn">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div id="display-none" class="picky-selectors-container form-window" data-picky-genre-menu-target="windowtwo">
      <div class="subgenre-container">
        <h1>Subgenre? <em>(if you do not wish to be so specific, pick all)</em></h1>
        <div class="subgenre-buttons-container">
          <div id="display-none" class="acoustic-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'acoustic~all' %>
            <%= f.label :subgenre, 'All Acoustic', value: 'acoustic~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~folk' %>
            <%= f.label :subgenre, 'Folk', value: 'acoustic~folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~singer-songwriter' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Singer-songwriter', value: 'acoustic~singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~rock' %>
            <%= f.label :subgenre, 'Rock', value: 'acoustic~rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~pop' %>
            <%= f.label :subgenre, 'Pop', value: 'acoustic~pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~guitar' %>
            <%= f.label :subgenre, 'Guitar', value: 'acoustic~guitar', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~americana' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Americana', value: 'acoustic~americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~electro-acoustic' %>
            <%= f.label :subgenre, 'Electro-acoustic', value: 'acoustic~electro-acoustic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~instrumental' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Instrumental', value: 'acoustic~instrumental', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~piano' %>
            <%= f.label :subgenre, 'Piano', value: 'acoustic~piano', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~bluegrass' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Bluegrass', value: 'acoustic~bluegrass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'acoustic~roots' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Roots', value: 'acoustic~roots', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="alternative-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'alternative~all' %>
            <%= f.label :subgenre, 'All Alternative', value: 'alternative~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~indie-rock' %>
            <%= f.label :subgenre, 'Indie Rock', value: 'alternative~indie-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~industrial' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Industrial', value: 'alternative~industrial', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~shoegaze' %>
            <%= f.label :subgenre, 'Shoegaze', value: 'alternative~shoegaze', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~grunge' %>
            <%= f.label :subgenre, 'Grunge', value: 'alternative~grunge', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~goth' %>
            <%= f.label :subgenre, 'Goth', value: 'alternative~goth', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~dream-pop' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Dream Pop', value: 'alternative~dream-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~emo' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Emo', value: 'alternative~emo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~math-rock' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Math Rock', value: 'alternative~math-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~britpop' %>
            <%= f.label :subgenre, 'Britpop', value: 'alternative~britpop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'alternative~jangle-pop' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Jangle Pop', value: 'alternative~jangle-pop', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="ambient-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'ambient~all' %>
            <%= f.label :subgenre, 'All Ambient', value: 'ambient~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~chill-out' %>
            <%= f.label :subgenre, 'Chill-out', value: 'ambient~chill-out', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~drone' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Drone', value: 'ambient~drone', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~dark-ambient' %>
            <%= f.label :subgenre, 'Dark ambient', value: 'ambient~dark-ambient', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~electronic' %>
            <%= f.label :subgenre, 'Electronic', value: 'ambient~electronic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~soundscapes' %>
            <%= f.label :subgenre, 'Soundscapes', value: 'ambient~soundscapes', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~field-recordings' %>
            <%= f.label :subgenre, 'Field recordings', value: 'ambient~field-recordings', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~atmospheric' %>
            <%= f.label :subgenre, 'Atmospheric', value: 'ambient~atmospheric', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~meditation' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Meditation', value: 'ambient~meditation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~noise' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Noise', value: 'ambient~noise', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~new-age' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'New Age', value: 'ambient~new-age', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~idm' %>
            <%= f.label :subgenre, 'Intelligent Dance Music', value: 'ambient~idm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'ambient~industrial' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Industrial', value: 'ambient~industrial', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="blues-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'blues~all' %>
            <%= f.label :subgenre, 'All Blues', value: 'blues~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~rhythm-blues' %>
            <%= f.label :subgenre, 'Rhythm & Blues ', value: 'blues~rhythm-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~blues-rock' %>
            <%= f.label :subgenre, 'Blues Rock', value: 'blues~blues-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~country-blues' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Country Blues', value: 'blues~country-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~boogie-woogie' %>
            <%= f.label :subgenre, 'Boogie-woogie', value: 'blues~boogie-woogie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~delta-blues' %>
            <%= f.label :subgenre, 'Delta Blues', value: 'blues~delta-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~americana' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Americana', value: 'blues~americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~electric-blues' %>
            <%= f.label :subgenre, 'Electric Blues', value: 'blues~electric-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~gospel' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Gospel', value: 'blues~gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'blues~bluegrass' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Bluegrass', value: 'blues~bluegrass', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="classical-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'classical~all' %>
            <%= f.label :subgenre, 'All Classical', value: 'classical~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~orchestral' %>
            <%= f.label :subgenre, 'Orchestral', value: 'classical~orchestral', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~neo-classical' %>
            <%= f.label :subgenre, 'Neo-classical', value: 'classical~neo-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~chamber-music' %>
            <%= f.label :subgenre, 'Chamber Music', value: 'classical~chamber-music', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~classical-piano' %>
            <%= f.label :subgenre, 'Classical Piano', value: 'classical~classical-piano', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~contemporary-classical' %>
            <%= f.label :subgenre, 'Contemporary Classical', value: 'classical~contemporary-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~baroque' %>
            <%= f.label :subgenre, 'Baroque', value: 'classical~baroque', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~opera' %>
            <%= f.label :subgenre, 'Opera', value: 'classical~opera', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~choral' %>
            <%= f.label :subgenre, 'Choral', value: 'classical~choral', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~modern-classical' %>
            <%= f.label :subgenre, 'Modern Classical', value: 'classical~modern-classical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'classical~avant-garde' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Avant Garde', value: 'classical~avant-garde', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="country-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'country~all' %>
            <%= f.label :subgenre, 'All Country', value: 'country~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~bluegrass' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Bluegrass', value: 'country~bluegrass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~country-rock' %>
            <%= f.label :subgenre, 'Country Rock', value: 'country~country-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~americana' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Americana', value: 'country~americana', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~country-folk' %>
            <%= f.label :subgenre, 'Country Folk', value: 'country~country-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~alt-country' %>
            <%= f.label :subgenre, 'Alt-country', value: 'country~alt-country', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~country-blues' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Country Blues', value: 'country~country-blues', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~western' %>
            <%= f.label :subgenre, 'Western', value: 'country~western', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~singer-songwriter' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Singer-songwriter', value: 'country~singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~outlaw' %>
            <%= f.label :subgenre, 'Outlaw', value: 'country~outlaw', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~honky-tonk' %>
            <%= f.label :subgenre, 'Honky-tonk', value: 'country~honky-tonk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~roots' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Roots', value: 'country~roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'country~hillbilly' %>
            <%= f.label :subgenre, 'Hillbilly', value: 'country~hillbilly', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="devotional-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'devotional~all' %>
            <%= f.label :subgenre, 'All', value: 'devotional~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~christian' %>
            <%= f.label :subgenre, 'Christian', value: 'devotional~christian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~gospel' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Gospel', value: 'devotional~gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~meditation' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Meditation', value: 'devotional~meditation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~spiritual' %>
            <%= f.label :subgenre, 'Spiritual', value: 'devotional~spiritual', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~worship' %>
            <%= f.label :subgenre, 'Worship', value: 'devotional~worship', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'devotional~inspirational' %>
            <%= f.label :subgenre, 'Inspirational', value: 'devotional~inspirational', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="electronic-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'electronic~all' %>
            <%= f.label :subgenre, 'All', value: 'electronic~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~house' %>
            <%= f.label :subgenre, 'House', value: 'electronic~house', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~electronica' %>
            <%= f.label :subgenre, 'Electronica', value: 'electronic~electronica', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'downtempo' %>
            <%#= f.label :subgenre, 'downtempo', value: 'downtempo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~techno' %>
            <%= f.label :subgenre, 'Techno', value: 'electronic~techno', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~electro' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Electro', value: 'electronic~electro', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~dubstep' %>
            <%= f.label :subgenre, 'Dubstep', value: 'electronic~dubstep', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~beats' %>
            <%= f.label :subgenre, 'Beats', value: 'electronic~beats', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~dance' %>
            <%= f.label :subgenre, 'Dance', value: 'electronic~dance', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'idm' %>
            <%#= f.label :subgenre, 'Intelligent Dance Music', value: 'idm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~drum-bass' %>
            <%= f.label :subgenre, 'Drum & Bass', value: 'electronic~drum-bass', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~breaks' %>
            <%= f.label :subgenre, 'Breaks', value: 'electronic~breaks', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~trance' %>
            <%= f.label :subgenre, 'Trance', value: 'electronic~trance', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'glitch' %>
            <%#= f.label :subgenre, 'Glitch', value: 'glitch', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'chiptune' %>
            <%#= f.label :subgenre, 'Chiptune', value: 'chiptune', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~chillwave' %>
            <%= f.label :subgenre, 'Chillwave', value: 'electronic~chillwave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~dub' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Dub', value: 'electronic~dub', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~edm' %>
            <%= f.label :subgenre, 'EDM', value: 'electronic~edm', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~instrumental' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Instrumental', value: 'electronic~instrumental', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'witch-house' %>
            <%#= f.label :subgenre, 'witch-house', value: 'witch-house', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~garage' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Garage', value: 'electronic~garage', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'juke' %>
            <%#= f.label :subgenre, 'juke', value: 'juke', class: 'subgenre-type-btn' %>
            <%#= f.radio_button :subgenre, 'footwork' %>
            <%#= f.label :subgenre, 'footwork', value: 'footwork', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~vaporwave' %>
            <%= f.label :subgenre, 'Vaporwave', value: 'electronic~vaporwave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'electronic~synthwave' %>
            <%= f.label :subgenre, 'Synthwave', value: 'electronic~synthwave', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="experimental-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'experimental~all' %>
            <%= f.label :subgenre, 'All', value: 'experimental~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~noise' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Noise', value: 'experimental~noise', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~drone' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Drone', value: 'experimental~drone', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~avant-garde' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Avant Garde', value: 'experimental~avant-garde', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~experimental-rock' %>
            <%= f.label :subgenre, 'Experimental Rock', value: 'experimental~experimental-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~improvisation' %>
            <%= f.label :subgenre, 'Improvisation', value: 'experimental~improvisation', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~sound-art' %>
            <%= f.label :subgenre, 'Sound Art', value: 'experimental~sound-art', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'experimental~musique-concrete' %>
            <%= f.label :subgenre, 'Musique Concrete', value: 'experimental~musique-concrete', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="folk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'folk~all' %>
            <%= f.label :subgenre, 'All', value: 'folk~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~singer-songwriter' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Singer-songwriter', value: 'folk~singer-songwriter', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~folk-rock' %>
            <%= f.label :subgenre, 'Folk Rock', value: 'folk~folk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~indie-folk' %>
            <%= f.label :subgenre, 'Indie Folk', value: 'folk~indie-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~pop-folk' %>
            <%= f.label :subgenre, 'Pop Folk', value: 'folk~pop-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~traditional' %>
            <%= f.label :subgenre, 'Traditional', value: 'folk~traditional', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~experimental-folk' %>
            <%= f.label :subgenre, 'Experimental Folk', value: 'folk~experimental-folk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'folk~roots' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Roots', value: 'folk~roots', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="funk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'funk~all' %>
            <%= f.label :subgenre, 'All', value: 'funk~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~funk-jam' %>
            <%= f.label :subgenre, 'Funk Jam', value: 'funk~funk-jam', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~deep-funk' %>
            <%= f.label :subgenre, 'Deep Funk', value: 'funk~deep-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~funk-rock' %>
            <%= f.label :subgenre, 'Funk Rock', value: 'funk~funk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~jazz-funk' %>
            <%= f.label :subgenre, 'Jazz Funk', value: 'funk~jazz-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~boogie' %>
            <%= f.label :subgenre, 'Boogie', value: 'funk~boogie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~g-funk' %>
            <%= f.label :subgenre, 'G-funk', value: 'funk~g-funk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~rare-groove' %>
            <%= f.label :subgenre, 'Rare Groove', value: 'funk~rare-groove', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~electro' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Electro', value: 'funk~electro', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'funk~go-go' %>
            <%= f.label :subgenre, 'Go-go', value: 'funk~go-go', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="hip-hop-rap-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'hip-hop-rap~all' %>
            <%= f.label :subgenre, 'All', value: 'hip-hop-rap~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~rap' %>
            <%= f.label :subgenre, 'Rap', value: 'hip-hop-rap~rap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~underground-hip-hop' %>
            <%= f.label :subgenre, 'Underground Hip-hop', value: 'hip-hop-rap~underground-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~instrumental-hip-hop' %>
            <%= f.label :subgenre, 'Instrumental Hip-hop', value: 'hip-hop-rap~instrumental-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~trap' %>
            <%= f.label :subgenre, 'Trap', value: 'hip-hop-rap~trap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~conscious-hip-hop' %>
            <%= f.label :subgenre, 'Conscious Hip-hop', value: 'hip-hop-rap~conscious-hip-hop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~boom-bap' %>
            <%= f.label :subgenre, 'Boom-bap', value: 'hip-hop-rap~boom-bap', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~beat-tape' %>
            <%= f.label :subgenre, 'Beat-tape', value: 'hip-hop-rap~beat-tape', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~hardcore' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Hardcore', value: 'hip-hop-rap~hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'hip-hop-rap~grime' %>
            <%= f.label :subgenre, 'Grime', value: 'hip-hop-rap~grime', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="jazz-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'jazz~all' %>
            <%= f.label :subgenre, 'All', value: 'jazz~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~fusion' %>
            <%= f.label :subgenre, 'Fusion', value: 'jazz~fusion', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~big-band' %>
            <%= f.label :subgenre, 'Big-band', value: 'jazz~big-band', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~nu-jazz' %>
            <%= f.label :subgenre, 'Nu Jazz', value: 'jazz~nu-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~modern-jazz' %>
            <%= f.label :subgenre, 'Modern Jazz', value: 'jazz~modern-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~swing' %>
            <%= f.label :subgenre, 'Swing', value: 'jazz~swing', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~free-jazz' %>
            <%= f.label :subgenre, 'Free Jazz', value: 'jazz~free-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~soul-jazz' %>
            <%= f.label :subgenre, 'Soul Jazz', value: 'jazz~soul-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~latin-jazz' %>
            <%= f.label :subgenre, 'Latin Jazz', value: 'jazz~latin-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~vocal-jazz' %>
            <%= f.label :subgenre, 'Vocal Jazz', value: 'jazz~vocal-jazz', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~bebop' %>
            <%= f.label :subgenre, 'Bebop', value: 'jazz~bebop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'jazz~spiritual-jazz' %>
            <%= f.label :subgenre, 'Spiritual Jazz', value: 'jazz~spiritual-jazz', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="latin-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'latin~all' %>
            <%= f.label :subgenre, 'All', value: 'latin~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~brazilian' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Brazilian', value: 'latin~brazilian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~cumbia' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Cumbia', value: 'latin~cumbia', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~tango' %>
            <%= f.label :subgenre, 'Tango', value: 'latin~tango', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~latin-rock' %>
            <%= f.label :subgenre, 'Latin Rock', value: 'latin~latin-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~flamenco' %>
            <%= f.label :subgenre, 'Flamenco', value: 'latin~flamenco', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~salsa' %>
            <%= f.label :subgenre, 'Salsa', value: 'latin~salsa', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~reggaeton' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Reggaeton', value: 'latin~reggaeton', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~merengue' %>
            <%= f.label :subgenre, 'Merengue', value: 'latin~merengue', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~bolero' %>
            <%= f.label :subgenre, 'Bolero', value: 'latin~bolero', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~mexico-d.f.' %>
            <%= f.label :subgenre, 'Mexico D.F.', value: 'latin~mexico-d.f.', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'latin~bachata' %>
            <%= f.label :subgenre, 'Bachata', value: 'latin~bachata', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="metal-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'metal~all' %>
            <%= f.label :subgenre, 'All', value: 'metal~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~hardcore' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Hardcore', value: 'metal~hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~black-metal' %>
            <%= f.label :subgenre, 'Black Metal', value: 'metal~black-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~death-metal' %>
            <%= f.label :subgenre, 'Death Metal', value: 'metal~death-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~thrash-metal' %>
            <%= f.label :subgenre, 'Thrash Metal', value: 'metal~thrash-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~grindcore' %>
            <%= f.label :subgenre, 'Grindcore', value: 'metal~grindcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~doom' %>
            <%= f.label :subgenre, 'Doom', value: 'metal~doom', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~post-hardcore' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Post Hardcore', value: 'metal~post-hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~progressive-metal' %>
            <%= f.label :subgenre, 'Progressive Metal', value: 'metal~progressive-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~metalcore' %>
            <%= f.label :subgenre, 'Metalcore', value: 'metal~metalcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~sludge-metal' %>
            <%= f.label :subgenre, 'Sludge Metal', value: 'metal~sludge-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~heavy-metal' %>
            <%= f.label :subgenre, 'Heavy Metal', value: 'metal~heavy-metal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~deathcore' %>
            <%= f.label :subgenre, 'Deathcore', value: 'metal~deathcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'metal~noise' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Noise', value: 'metal~noise', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="pop-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'pop~all' %>
            <%= f.label :subgenre, 'All', value: 'pop~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~indie-pop' %>
            <%= f.label :subgenre, 'Indie Pop', value: 'pop~indie-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~synth-pop' %>
            <%= f.label :subgenre, 'Synth Pop', value: 'pop~synth-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~power-pop' %>
            <%= f.label :subgenre, 'Power Pop', value: 'pop~power-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~new-wave' %>
            <%= f.label :subgenre, 'New Wave', value: 'pop~new-wave', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~dream-pop' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Dream Pop', value: 'pop~dream-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~noise-pop' %>
            <%= f.label :subgenre, 'Noise Pop', value: 'pop~noise-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~experimental-pop' %>
            <%= f.label :subgenre, 'Experimental Pop', value: 'pop~experimental-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~electro-pop' %>
            <%= f.label :subgenre, 'Electro Pop', value: 'pop~electro-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~adult-contemporary' %>
            <%= f.label :subgenre, 'Adult Contemporary', value: 'pop~adult-contemporary', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~jangle-pop' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Jangle Pop', value: 'pop~jangle-pop', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'pop~j-pop' %>
            <%= f.label :subgenre, 'J-pop', value: 'pop~j-pop', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="punk-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'punk~all' %>
            <%= f.label :subgenre, 'All', value: 'punk~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~hardcore-punk' %>
            <%= f.label :subgenre, 'Hardcore Punk', value: 'punk~hardcore-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~garage' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Garage', value: 'punk~garage', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~pop-punk' %>
            <%= f.label :subgenre, 'Pop Punk', value: 'punk~pop-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~punk-rock' %>
            <%= f.label :subgenre, 'Punk Rock', value: 'punk~punk-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~post-punk' %>
            <%= f.label :subgenre, 'Post-punk', value: 'punk~post-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~post-hardcore' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Post-hardcore', value: 'punk~post-hardcore', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~thrash' %>
            <%= f.label :subgenre, 'Thrash', value: 'punk~thrash', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~crust-punk' %>
            <%= f.label :subgenre, 'Crust Punk', value: 'punk~crust-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~folk-punk' %>
            <%= f.label :subgenre, 'Folk Punk', value: 'punk~folk-punk', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~emo' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Emo', value: 'punk~emo', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~ska' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Ska', value: 'punk~ska', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'punk~no-wave' %>
            <%= f.label :subgenre, 'No Wave', value: 'punk~no-wave', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="r-b-soul-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'r-b-soul~all' %>
            <%= f.label :subgenre, 'All', value: 'r-b-soul~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~soul' %>
            <%= f.label :subgenre, 'Soul', value: 'r-b-soul~soul', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~r-b' %>
            <%= f.label :subgenre, 'R&B', value: 'r-b-soul~r-b', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~neo-soul' %>
            <%= f.label :subgenre, 'Neo-soul', value: 'r-b-soul~neo-soul', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~gospel' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Gospel', value: 'r-b-soul~gospel', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~contemporary-r-b' %>
            <%= f.label :subgenre, 'Contemporary R&B', value: 'r-b-soul~contemporary-r-b', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~motown' %>
            <%= f.label :subgenre, 'Motown', value: 'r-b-soul~motown', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'r-b-soul~urban' %>
            <%= f.label :subgenre, 'Urban', value: 'r-b-soul~urban', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="reggae-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'reggae~all' %>
            <%= f.label :subgenre, 'All', value: 'reggae~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~dub' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Dub', value: 'reggae~dub', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~ska' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Ska', value: 'reggae~ska', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~roots' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Roots', value: 'reggae~roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~dancehall' %>
            <%= f.label :subgenre, 'Dancehall', value: 'reggae~dancehall', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~rocksteady' %>
            <%= f.label :subgenre, 'Rocksteady', value: 'reggae~rocksteady', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~ragga' %>
            <%= f.label :subgenre, 'Ragga', value: 'reggae~ragga', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'reggae~lovers-rock' %>
            <%= f.label :subgenre, 'Lovers Rock', value: 'reggae~lovers-rock', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="rock-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'rock~all' %>
            <%= f.label :subgenre, 'All', value: 'rock~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~indie' %>
            <%= f.label :subgenre, 'Indie', value: 'rock~indie', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~prog-rock' %>
            <%= f.label :subgenre, 'Prog Rock', value: 'rock~prog-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~post-rock' %>
            <%= f.label :subgenre, 'Post-rock', value: 'rock~post-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~rock-roll' %>
            <%= f.label :subgenre, 'Rock & Roll', value: 'rock~rock-roll', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~psychedelic-rock' %>
            <%= f.label :subgenre, 'Psychedelic Rock', value: 'rock~psychedelic-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~hard-rock' %>
            <%= f.label :subgenre, 'Hard Rock', value: 'rock~hard-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~garage-rock' %>
            <%= f.label :subgenre, 'Garage Rock', value: 'rock~garage-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~surf-rock' %>
            <%= f.label :subgenre, 'Surf Rock', value: 'rock~surf-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~instrumental' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Instrumental', value: 'rock~instrumental', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~math-rock' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Math Rock', value: 'rock~math-rock', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'rock~rockabilly' %>
            <%= f.label :subgenre, 'Rockabilly', value: 'rock~rockabilly', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="soundtrack-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'soundtrack~all' %>
            <%= f.label :subgenre, 'All', value: 'soundtrack~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'soundtrack~film-music' %>
            <%= f.label :subgenre, 'Film Music', value: 'soundtrack~film-music', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'soundtrack~video-game-music' %>
            <%= f.label :subgenre, 'Video Game Music', value: 'soundtrack~video-game-music', class: 'subgenre-type-btn' %>
          </div>
          <div id="display-none" class="world-subgenres subgenre-buttons">
            <%= f.radio_button :subgenre, 'world~all' %>
            <%= f.label :subgenre, 'All', value: 'world~all', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~latin' %>
            <%= f.label :subgenre, 'Latin', value: 'world~latin', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~roots' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Roots', value: 'world~roots', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~african' %>
            <%= f.label :subgenre, 'African', value: 'world~african', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~tropical' %>
            <%= f.label :subgenre, 'Tropical', value: 'world~tropical', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~tribal' %>
            <%= f.label :subgenre, 'Tribal', value: 'world~tribal', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~brazilian' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Brazilian', value: 'world~brazilian', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~celtic' %>
            <%= f.label :subgenre, 'Celtic', value: 'world~celtic', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~world-fusion' %>
            <%= f.label :subgenre, 'World Fusion', value: 'world~world-fusion', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~cumbia' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Cumbia', value: 'world~cumbia', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~gypsy' %>
            <%= f.label :subgenre, 'Gypsy', value: 'world~gypsy', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~new-age' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'New Age', value: 'world~new-age', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~balkan' %>
            <%= f.label :subgenre, 'Balkan', value: 'world~balkan', class: 'subgenre-type-btn' %>
            <%= f.radio_button :subgenre, 'world~reggaeton' %> <!-- REPEAT BUTTON -->
            <%= f.label :subgenre, 'Reggaeton', value: 'world~reggaeton', class: 'subgenre-type-btn' %>
          </div>
        </div>
      </div>
      <div id="visibility-hidden" class="release-type-container">
        <h1>What kind of releases would you like to see?</h1>
        <div class="release-type-buttons-container">
            <%= f.radio_button :release_order, 'top', checked: true  %>
            <%= f.label :release_order, 'Best-selling', value: 'top', class: 'release-type-btn' %>
            <%= f.radio_button :release_order, 'new' %>
            <%= f.label :release_order, 'New Arrivals', value: 'new', class: 'release-type-btn' %>
        </div>
      </div>
      <div id="visibility-hidden" class="when-container">
        <h1>When? <em>(Only available if you choose all subgenres)</em></h1>
        <div class="when-buttons-container">
            <%= f.radio_button :time_frame, '-1'  %>
            <%= f.label :time_frame, 'Today', value: '-1', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '0', checked: true %>
            <%= f.label :time_frame, 'This week', value: '0', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '764' %>
            <%= f.label :time_frame, 'Last week', value: '764', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '763' %>
            <%= f.label :time_frame, '2 weeks ago', value: '763', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '762' %>
            <%= f.label :time_frame, '3 weeks ago', value: '762', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '761' %>
            <%= f.label :time_frame, '4 weeks ago', value: '761', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '760' %>
            <%= f.label :time_frame, '5 weeks ago', value: '760', class: 'when-btn' %>
            <%= f.radio_button :time_frame, '759' %>
            <%= f.label :time_frame, '6 weeks ago', value: '759', class: 'when-btn' %>
        </div>
      </div>
      <div class="navigation-buttons-container">
        <div class="back-button-container">
          <button class="picky-nav-btn-windowtwo" id="back-btn-windowtwo" data-action="click->picky-genre-menu#previousWindow" data-picky-genre-menu-target="backbtnwindowtwo">Back</button>
        </div>
        <div class="next-button-container">
          <button class="picky-nav-btn-windowtwo" id="next-btn-windowtwo" data-action="click->picky-genre-menu#nextWindow" data-picky-genre-menu-target="nextbtnwindowtwo">Next</button>
        </div>
      </div>
    </div>
    <div id="display-none" class="location-selector-container form-window" data-picky-genre-menu-target="windowthree">
      <h1>Location <em>(Where shall the artists come from?)</em></h1>
      <div class="location-form-buttons">
          <%= f.radio_button :location, '0', checked: true  %>
          <%= f.label :location, 'ANYWHERE', value: '0', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2759794' %>
          <%= f.label :location, 'AMSTERDAM', value: '2759794', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4180439' %>
          <%= f.label :location, 'ATLANTA', value: '4180439', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4671654' %>
          <%= f.label :location, 'AUSTIN', value: '4671654', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4347778' %>
          <%= f.label :location, 'BALTIMORE', value: '4347778', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2950159' %>
          <%= f.label :location, 'BERLIN', value: '2950159', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4930956' %>
          <%= f.label :location, 'BOSTON', value: '4930956', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5110302' %>
          <%= f.label :location, 'BROOKLYN', value: '5110302', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4887398' %>
          <%= f.label :location, 'CHICAGO', value: '4887398', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5419384' %>
          <%= f.label :location, 'DENVER', value: '5419384', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4990729' %>
          <%= f.label :location, 'DETROIT', value: '4990729', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2964574' %>
          <%= f.label :location, 'DUBLIN', value: '2964574', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3333231' %>
          <%= f.label :location, 'GLASGOW', value: '3333231', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2643743' %>
          <%= f.label :location, 'LONDON', value: '2643743', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5368361' %>
          <%= f.label :location, 'LOS ANGELES', value: '5368361', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3117735' %>
          <%= f.label :location, 'MADRID', value: '3117735', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2643123' %>
          <%= f.label :location, 'MANCHESTER', value: '2643123', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2158177' %>
          <%= f.label :location, 'MELBOURNE', value: '2158177', class: 'location-type-btn' %>
          <%= f.radio_button :location, '3530597' %>
          <%= f.label :location, 'MEXICO CITY', value: '3530597', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4164138' %>
          <%= f.label :location, 'MIAMI', value: '4164138', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5037649' %>
          <%= f.label :location, 'MINNEAPOLIS', value: '5037649', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6077243' %>
          <%= f.label :location, 'MONTREAL', value: '6077243', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4644585' %>
          <%= f.label :location, 'NASHVILLE', value: '4644585', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4335045' %>
          <%= f.label :location, 'NEW ORLEANS', value: '4335045', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5128581' %>
          <%= f.label :location, 'NEW YORK CITY', value: '5128581', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5378538' %>
          <%= f.label :location, 'OAKLAND', value: '5378538', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2988507' %>
          <%= f.label :location, 'PARIS', value: '2988507', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4560349' %>
          <%= f.label :location, 'PHILADELPHIA', value: '4560349', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5746545' %>
          <%= f.label :location, 'PORTLAND', value: '5746545', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5391959' %>
          <%= f.label :location, 'SAN FRANCISCO', value: '5391959', class: 'location-type-btn' %>
          <%= f.radio_button :location, '5809844' %>
          <%= f.label :location, 'SEATTLE', value: '5809844', class: 'location-type-btn' %>
          <%= f.radio_button :location, '2147714' %>
          <%= f.label :location, 'SYDNEY', value: '2147714', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6167865' %>
          <%= f.label :location, 'TORONTO', value: '6167865', class: 'location-type-btn' %>
          <%= f.radio_button :location, '6173331' %>
          <%= f.label :location, 'VANCOUVER', value: '6173331', class: 'location-type-btn' %>
          <%= f.radio_button :location, '4140963' %>
          <%= f.label :location, 'WASHINGTON D.C.', value: '4140963', class: 'location-type-btn' %>
      </div>
      <div class="location-nav-container">
        <div class="back-button-container">
          <button class="location-nav-btn" data-action="click->picky-genre-menu#previousWindow">Back</button>
        </div>
        <div class="create-button-container">
          <%#= link_to "Create your new Scrapelist!", scrapelistprompts_path, class: 'create-btn' %>
          <input type="submit" name="commit" value="Create your new Scrapelist" class="create-btn" data-disable-with="submit" form="picky-options-selection-form">
        </div>
      </div>
    </div>
  </div>
<% end %>
