 <div class="show-wrapper">
  <div class="show-container">
    <div class="text-wrapper">
      <div class="text-container">
        <div class="show-title">
          <h2>Heres what we got for <%= @scrapelist.genre %>:</h2>
        </div>
        <div class="show-explanation">
          <p>Have a scroll on the right and click to check out the tracks we got from Bandcamp. Please keep in mind that not every song that is on Bandcamp is on Spotify, so what is shown here may not completely resemble what you will see in your Spotify playlist</p>
        </div>
        <div class="show-spotify-button-container">
          <%= link_to "Click to create your Spotify playlist!", send_to_spotify_path, class: "show-spotify-btn" %>
        </div>
      </div>
    </div>
    <div class="songs-wrapper">
      <div class="songs-container">
        <% @songs.each do |s| %>
          <%= link_to s.music_link, target: "_blank", class: "song-card-link-wrapper" do %>
            <div class="song-card">
              <div class="song-art-container">
                <%= image_tag s.album_art %>
              </div>
              <div class="song-info-container">
                <div class="song-info">
                  <p>Artist: <strong><%= s.artist %></strong></p>
                  <p>Song: <strong><%= s.title %></strong></p>
                  <p>Album: <strong><%= s.album %></strong></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
 </div>








<!-- <h1>Bandcamp url produced:</h1>
<p><%= @scrapelist.bandcamp_query %></p>
<p><%= @scrapelist.query_two %></p>
<br>
<h1>Songs scraped:</h1>
<p><% @songs.each do |s| %></p>
  <%= image_tag s.album_art %>
  <p>Artist: <%= s.artist %></p>
  <p>Song: <%= s.title %></p>
  <p>Album: <%= s.album %></p>
  <br>
<% end %> -->
