<p><%= @scrapelist %></p>
<br>
<ul>
  <li><p><%= @scrapelist.genre %></p></li>
  <li><p><%= @scrapelist.subgenre %></p></li>
  <li><p><%= @scrapelist.release_order %></p></li>
  <li><p><%= @scrapelist.time_frame %></p></li>
  <li><p><%= @scrapelist.location %></p></li>
</ul>
