  <!-- _genre_form
  <%= form_tag do %>
    <%= radio_button_tag(:genre, "acoustic") %>
    <%= label_tag(:genre_acoustic, "Acoustic") %>
    <%= radio_button_tag(:genre, "alternative") %>
    <%= label_tag(:genre_alternative, "Alternative") %>
    <%= radio_button_tag(:genre, "ambient") %>
    <%= label_tag(:genre_ambient, "Ambient") %>
    <%= radio_button_tag(:genre, "blues") %>
    <%= label_tag(:genre_blues, "Blues") %>
    <%= radio_button_tag(:genre, "classical") %>
    <%= label_tag(:genre_classical, "Classical") %>
    <%= radio_button_tag(:genre, "country") %>
    <%= label_tag(:genre_country, "Country") %>
    <%= radio_button_tag(:genre, "devotional") %>
    <%= label_tag(:genre_devotional, "Devotional") %>
    <%= radio_button_tag(:genre, "electronic") %>
    <%= label_tag(:genre_electronic, "Electronic") %>
    <%= radio_button_tag(:genre, "experimental") %>
    <%= label_tag(:genre_experimental, "Experimental") %>
    <%= radio_button_tag(:genre, "folk") %>
    <%= label_tag(:genre_folk, "Folk") %>
    <%= radio_button_tag(:genre, "hip-hop-rap") %>
    <%= label_tag(:genre_hip_hop_rap, "Hip-Hop/Rap") %>
    <%= radio_button_tag(:genre, "jazz") %>
    <%= label_tag(:genre_jazz, "Jazz") %>
    <%= radio_button_tag(:genre, "latin") %>
    <%= label_tag(:genre_latin, "Latin") %>
    <%= radio_button_tag(:genre, "metal") %>
    <%= label_tag(:genre_metal, "Metal") %>
    <%= radio_button_tag(:genre, "pop") %>
    <%= label_tag(:genre_pop, "Pop") %>
    <%= radio_button_tag(:genre, "punk") %>
    <%= label_tag(:genre_punk, "Punk") %>
    <%= radio_button_tag(:genre, "r-b-soul") %>
    <%= label_tag(:genre_r_b_soul, "R&B/Soul") %>
    <%= radio_button_tag(:genre, "reggae") %>
    <%= label_tag(:genre_reggae, "Reggae") %>
    <%= radio_button_tag(:genre, "rock") %>
    <%= label_tag(:genre_rock, "Rock") %>
    <%= radio_button_tag(:genre, "soundtrack") %>
    <%= label_tag(:genre_soundtrack, "Soundtrack") %>
    <%= radio_button_tag(:genre, "world") %>
    <%= label_tag(:genre_world, "World") %>
    <%= submit_tag("Submit") %>
  <% end %> --->


<!-- scrapelist#show
<div class="song-card">
  <div class="song-art-container">
    <img src="https://upload.wikimedia.org/wikipedia/en/5/54/AphexTwinICareBecauseYouDo.jpg" alt="placeholder">
  </div>
  <div class="song-info-container">
    <div class="song-info">
      <p>Artist: Aphex Twin</p>
      <p>Song: I Care Because You Do</p>
      <p>Album: Selected Ambient Works Volume II</p>
    </div>
  </div>
</div> -->
